html {
    height: 100%;
    width: 100%;
  }
  
  #webtitle {
    font-size: 60px;
  }
  
  #h_container {
    background-image: linear-gradient(to top, #0c006b, rgb(64, 0, 77));
  }
  
  #h_container:active {
    background-image: linear-gradient(to top, #0c006b, rgb(72, 0, 87));
  }
  
  h1 {
    height: 60px;
    padding-bottom: 20px;
    box-shadow: rgb(0, 255, 225, 0.8) 5px 0px 30px 5px;
    text-align: center;
    color: transparent;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/39/530/391/abstraction-geometry-abstract-design-background-hd-wallpaper-thumb.jpg');
    background-clip: text;
    user-select: none;
    animation: wait_light 0.6s ease 5;
  }
  
  h1:active {
    color: rgb(0, 0, 0,0.4)
  }
  
  
  /* animations */
  @keyframes wait_light {
    50%{
      color: rgba(255,255,255,0.5)
    }
  }
  
  @keyframes wait_light1{
    50%{
      box-shadow: rgba(255,255,255,0.6) 0px 0px 20px 5px;
    }
  }
  
  /* body defaults */
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    position: relative;
    background-size: cover;
    background-color: #000000;
    overflow-x: hidden;
    font-family: cursive;
  }
  
  /* scrollbar styling */
  
  ::-webkit-scrollbar {
    position: absolute;
    z-index: 5;
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(222, 189, 255, 01);
    box-shadow: inset 0 0 5px black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(41, 0, 82, 0.7);
    border-radius: 500px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-button {
    background-color: #c2c2c2;
  }
  
  
  .bi {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    opacity: 0.25;
    /* background-image: url(https://img.freepik.com/free-vector/floating-laughing-emoji-characters_52683-27761.jpg); */
    background-size: cover;
  }
  
  
  /* jokebox */
  
  #jokebox {
    box-shadow: rgb(0, 255, 204, 0.5) 0px 0px 90px 5px;
    z-index: 5;
    height: 300px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px grey solid;
    position: absolute;
    top: 200px;
    left: 250px;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    animation: wait_light1 0.5s ease 6;
  }
  
  #jokebox #intro {
    color: #d9d9d9;
    margin: 10px 15px;
  }
  
  #joke {
    color: #66ff00;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 2rem;
    margin-top: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 20px #00e1ff;
  }
  
  /* joke font size increasing in hovering*/
  
  #joke:hover {
    font-size: 2.01rem;
    transition: ease 0.1s;
  }
  
  /* buttons of the jokebox*/
  
  #button {
    color: white;
    height: 40px;
    width: 150px;
    background-image: linear-gradient(to right, rgb(0, 8, 255, 0.3), rgb(0, 213, 255, 0.3), rgb(0, 255, 225, 0.3));
    /* background-color: rgb(0, 98, 255, 0.25); */
    position: absolute;
    bottom: 6px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    font-family: auto;
    letter-spacing: 1px;
    border: solid grey 1px;
  }
  
  #button1 {
    color: white;
    height: 40px;
    width: 150px;
    background-color: rgba(250, 0, 183, 0.15);
    position: absolute;
    bottom: 6px;
    right: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    font-family: auto;
    letter-spacing: 1px;
    border: solid grey 1px;
  }
  
  #button2 {
    color: white;
    height: 40px;
    width: 170px;
    background-color: rgb(212, 255, 0, 0.15);
    position: absolute;
    bottom: 6px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    font-family: auto;
    letter-spacing: 1px;
    border: solid grey 1px;
  }
  
  #btns {
    color: white;
    width: 130px;
    background-color: rgb(209, 0, 153, 0.15);
    border: solid grey 1px;
    position: absolute;
    border-radius: 15px;
    text-align: center;
    padding-block: 8px;
    left: 30px;
    bottom: 6px;
    transition: transform ease 0.1s;
    cursor: pointer;
  }
  
  #bgnd {
    width: 170px;
    display: none;
    position: absolute;
    bottom: 6px;
    left: 30px;
  }
  
  #bgndlev {
    color: white;
    height: 40px;
    width: 70px;
    background-color: rgba(250, 0, 183, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    font-family: auto;
    letter-spacing: 1px;
    border-block: solid grey 1px;
    border-left: solid grey 1px;
    border-right: none;
    text-align: center;
  }
  
  #submit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: rgb(67, 0, 250, 0.5);
    border-block: solid grey 1px;
    border-right: solid grey 1px;
    padding: 12px 10px;
  }
  
  #cut {
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 20px;
    left: 15px;
    cursor: pointer;
    user-select: none;
    transform: scale(2)
  }
  
  #likes{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: row;
    flex-direction:row-reverse;
    align-items: end;
    align-content: end;
    color: rgba(255,255,255,0.5);
    position: absolute;
    font-size: 1.4rem;
    bottom: 75px;
    right: 0px;
    user-select: none;
  }
  
  #click{
    position: relative;
    left: -20px;
    bottom: 15px;
  }
  
  
  /* fa-icons in buttons */
  
  .fa-percent {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(250, 0, 183, 0.05);
    border-block: solid grey 1px;
    border-right: solid grey 1px;
    padding: 12px 10px;
  }
  
  
  .fa-palette {
    margin-left: 5px;
    font-size: 1.4rem;
  }
  
  .fa-image {
    margin-left: 10px;
  }
  
  .fa-thumbs-up{
    font-size: 2rem;
    position: relative;
    top: 0px;
    right: 25px;
    cursor: pointer;
    padding: 15px;
    border: 1px rgba(166,166,166,0.2) solid;
    border-radius: 50%;
    background-color: rgba(150,150,150,0.1);
  }
  
  .fa-shuffle{
    margin-left: 6px;
  }
  
  /* buttons hovering  */
  
  #likes:hover {
    color: rgba(255,255,255,0.6);
  }
  
  #button:hover {
    transform: scale(1.035);
    transition: transform ease 0.1s;
    box-shadow: rgb(0, 255, 179, 0.5) 0px 0px 15px 3px;
    border: solid #bb00ff 1px;
  }
  
  #button1:hover {
    transform: scale(1.035);
    transition: transform ease 0.1s;
    box-shadow: rgb(0, 255, 179, 0.5) 0px 0px 15px 3px;
    border: solid #bb00ff 1px;
  }
  
  #button2:hover {
    transform: scale(1.035);
    transition: transform ease 0.1s;
    box-shadow: rgb(0, 255, 179, 0.5) 0px 0px 15px 3px;
    border: solid #bb00ff 1px;
  }
  
  #btns:hover {
    transform: scale(1.035);
    box-shadow: rgb(0, 255, 179, 0.5) 0px 0px 15px 3px;
    border: solid #bb00ff 1px;
  }
  
  #cut:hover {
    color: rgba(255, 255, 255, 0.5)
  }
  
  /* buttons active state  */
  
  #button:active {
    background-color: rgb(0, 98, 255, 0.35);
    color: #a3a3a3;
  }
  
  #button1:active {
    background-color: rgb(255, 0, 187, 0.25);
    color: #9c8cab;
  }
  
  #button2:active {
    background-color: rgb(200, 255, 0, 0.25);
    color: #9c8cab;
  }
  
  #btns:active {
    background-color: rgb(209, 0, 153, 0.25);
    color: #a3a3a3;
  }
  
  #bgndlev:active {
    border-block: 1.5px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
  }
  
  #submit:active {
    outline: 1px solid #a3a3a3;
    background-color: rgb(67, 0, 250, 0.8);
  }
  
  #cut:active {
    color: rgba(255, 255, 255, 0.8)
  }
  
  /* buttons focus state */
  
  #bgndlev:focus {
    border-block: 1px solid grey;
    border-left: 1px solid grey;
    outline: none;
  }
  
  /* references appearing in hovering */
  
  .reference{
    font-family: sans-serif;
    transform: scale(0.85);
    text-align: center;
    padding-block: 10px;
    width: 70px;
    background-color: rgb(54, 54, 54, 0.7);
    border-radius: 2px;
    font-size: 1rem;
    position: absolute;
    left: 80px;
    top: 45px;
    opacity: 1;
    display: none;
  }
  
  /* footer design*/
  footer{
    color: white;
    position: absolute;
    top: 111.3vh;
    opacity: 0.7;
  }
  #foot1{
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 40px;
    background-image: linear-gradient(to top, rgb(8, 0, 66,0.85), rgb(25, 0, 31, 0.85));
    font-size: 1.3rem;
    text-align: center;
    /* padding-top: 20px; */
    user-select: none;
    cursor: none;
    font-family: sans-serif;
  }
  
  /* smartphones resizing */
  
  @media (max-width: 500px) {
    #bi {
      background-size: fill;
      opacity: 0.35;
    }
    .reference{
      opacity: 0;
    }
    h1 {
      height: 30px;
      font-family: sans-serif;
      font-size: 0px;
      background-image: url('https://cdn.tutsplus.com/cdn-cgi/image/width=360/vector/uploads/legacy/qt/2011_QT/qt_130_floral_pattern/final.jpg');
    }
  
    h1:active {
      color: rgba(200, 200, 200, 0.5);
    }
  
    #webtitle {
      font-size: 30px;
      padding-top: 15px;
    }
  
    #webtitle:active {
      opacity: 0.8;
    }
  
    #jokebox {
      top: 15vh;
      left: 5%;
      width: 90vw;
      height: 70vh;
      text-align: center;
      border-top-right-radius: 35px;
      border-bottom-left-radius: 35px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: rgb(0, 255, 204, 0.5) 0px 0px 20px 5px;
      user-select: none;
    }
  
    #joke {
      font-size: 28px;
      margin-left: 10%;
      margin-top: 10%;
      word-spacing: 15px;
      letter-spacing: 3px;
      user-select: none;
      font-family: cursive;
    }
  
    #joke:hover {
      font-size: 30px;
    }
  
    #likes{
      transform: scale(0.6);
      font-family: sans-serif;
      /* color: #; */
    }
  
    #click{
      cursor:text;
    }
  
    #button,
    #button1,
    #button2 {
      transform: scale(0.6);
      user-select: none;
  
    }
  
    #button {
      right: -20px;
      bottom: -2px;
    }
  
    #button1 {
      right: 80px;
      bottom: -2px;
    }
  
    #button2 {
      left: 45vw;
      top: -2px;
    }
  
    #btns {
      width: 120px;
      left: 5px;
      bottom: 0px;
      font-family: sans-serif;
    }
  
    #bgnd {
      font-family: sans-serif;
      left: -5px;
      bottom: -2px;
    }
  
    #button1:hover,
    #button:hover,
    #button2:hover {
      transform: scale(0.6);
      box-shadow: none;
      user-select: none;
      border: solid 1px grey;
    }
  
    #btns,
    #bgnd {
      transform: scale(0.7);
      user-select: none;
  
    }
  
    #btns:hover,
    #bgnd:hover {
      transform: scale(0.7);
      box-shadow: none;
      user-select: none;
      border: none;
    }
  
    #intro {
      text-align: left;
    }
  
    #button1:active,
    #button:active,
    #button2:active {
      transform: scale(0.63);
      transition: transform ease 0.1s;
      box-shadow: rgb(0, 255, 179, 0.5) 0px 0px 15px 3px;
      border: solid #bb00ff 1px;
      user-select: none;
    }
  
    #btns:active {
      transform: scale(0.72);
      transition: transform ease 0.1s;
      box-shadow: rgb(0, 255, 179, 0.5) 0px 0px 15px 3px;
      border: solid #bb00ff 1px;
      user-select: none;
    }
  }