html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    /* min-height: 115%; */
    background-color: #303030;
    overflow-x: hidden;
    margin-bottom: 5vh;
  }
  
  ::-webkit-scrollbar {
    background-color: #303030;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #474747;
  }
  
  #main_heading {
    padding-block: 2vh;
    background-color: #1c1c1c;
    border-bottom: 1px solid #303030;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    color: #cab9bc;
    user-select: none;
    font-family: cursive;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  #foot{
    font-family:monospace;
    position: relative;
    text-align: center;
    color: #6e6e6e;
    margin-top: 30%;
    padding-bottom: 1%;
  }
  
  .fa-heart{
    color: #903737;
  }
  
  .fa-glide-g{
    color: #832f5c;
    margin-left: 5px;
    font-size: 2.3rem;
  }
  
  #interaction_container {
    margin-left: 15vw;
    margin-top: 10vh;
    user-select: none;
  }
  
  #text-container {
    padding: 2vw;
    color: grey;
    background-color: #262626;
    border-radius: 50px;
    border: solid #6e6e6e 1px;
    width: 72vw;
    margin-top: 20vh;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  }
  
  #note {
    padding-inline: 2vw;
    padding-block: 1vw;
    border-radius: 50px;
    font-size: 2rem;
    width: 68vw;
    height: 5vh;
    background-color: #262626;
    color: grey;
    /* border-right: none;
    border-bottom: solid #6e6e6e 1px; */
    border: none;
    resize: none;
  }
  
  #note::-webkit-scrollbar {
    background-color: black;
    visibility: hidden;
  }
  
  #note::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
    visibility: hidden;
  }
  
  
  #note:focus {
    outline: none;
    border-bottom: solid #363636 2px;
  }
  
  #submit_button {
    margin-left: 1vw;
    height: 3vw;
    width: 10vw;
    font-size: 1.3rem;
    border-radius: 25px;
    background-color: #2e1442;
    color: #bab4c5;
    display: block;
    border: 1px solid #7a6c84;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 1vh;
  }
  
  #submit_button:hover {
    transform: scale(1.03);
    transition: ease 0.2s;
  }
  
  #submit_button:active {
    background-color: #261334;
    color: #9993a5;
  }
  
  #d_container {
    margin-left: 10vw;
    /* margin-bottom: 10vh; */
  }
  
  #display {
    margin-left: 1vw;
    height: 3vw;
    width: 15vw;
    font-size: 1.3rem;
    border-radius: 15px;
    margin-top: 5vh;
    background-image: linear-gradient(to bottom, #251b5f, #1a1442);
    color: #958ba7;
    display: block;
    border: 2px solid #3d455c;
    transition-duration: 0.2s;
    cursor: pointer;
    /* box-shadow: 0 3px 3px 1px rgba(0,0,0,0.5); */
  }
  
  #display:hover {
    /* box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5); */
    transform: scale(1.04);
    transition: transform 0.1s;
  }
  
  #display:active {
    background-image: linear-gradient(to bottom, #29205b, #272150);
    color: #afa6bf;
  }
  
  .btn {
    user-select: none;
  }
  
  .datas {
    padding-block: 2vh;
    padding-inline: 1vw;
    border: 1px solid #000061;
    background-image: linear-gradient(to bottom, #252d56, #222b3a);
    color: #bababa;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px rgb(74, 85, 115, 0.4);
  }
  
  #clear {
    padding: 5px;
    border: solid rgb(142, 116, 116) 1px;
    width: 80px;
    color: rgb(164, 0, 0);
    border-radius: 6px;
    background: rgb(58, 43, 43);
    transition: transform 0.3s;
    cursor: pointer;
    user-select: none;
    margin-bottom: 2vh;
  }
  
  #clear:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
  }
  
  #clear:active {
    background-color: rgb(60, 29, 29);
    border: solid rgb(230, 167, 167) 1.5px;
  }
  
  /* java elements */
  
  .datasets_content {
    margin-left: 2vw;
  }
  
  .dataset {
    padding-block: 2vh;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 20vh;
    padding-inline: 2vw;
    width: 70vw;
    border-radius: 15px;
    min-height: 10vh;
    color: #a3a3a3;
    background-color: #383838;
    font-size: 1.2rem;
    border: solid grey 1px;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.3);
  }
  
  .del_item{
    opacity: 0.5;
    left: 66vw;
    position: relative;
    top:0;
    right: 0;
    padding: 5px;
    border-radius: 50%;
    border: solid #7a7a7a 2px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
  }
  
  .del_item:hover{
    transform: scale(1.05);
    color: #ff0000;
    border: solid #e00000 2px;
  }
  
  .del_item:active{
    color: #a44141 ;
    border: solid 2px #974444;
  }
  
  .plus {
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    animation: disappear ease-out 3s;
    position: absolute;
    left: 45vw;
    top: 40vh;
  }
  
  @keyframes disappear {
    to {
      opacity: 0;
      transform: scale(3) translateY(-10vh);
    }
  }
  
  .err {
    font-size: 3rem;
    color: #990000;
    font-weight: bolder;
    animation: disappear_warning ease-out 3s;
    position: absolute;
    left: 30vw;
    top: 40vh;
  }
  
  @keyframes disappear_warning {
    to {
      opacity: 0;
      transform: scale(0.9) translateY(-2vh);
    }
  }
  
  .err2 {
    font-size: 3rem;
    color: #bababa;
    font-weight: bolder;
    animation: disappear_warning ease-out 3s;
    position: absolute;
    left: 30vw;
    top: 40vh;
  }
  
  @keyframes disappear_warning {
    to {
      opacity: 0;
      transform: scale(1.3) translateY(-10vh);
    }
  }
